doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  script(src="https://cdn.jsdelivr.net/npm/sweetalert2@8")
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  //- script(src='/scripts/home.js')
  style
    include style.css
  title Document
h2.ui.center.aligned.icon.header
  i.circular.users.icon
  |   Add New Employee
.jumbotron
  // Button trigger modal
  button.teal.ui.button(type='button' data-toggle='modal' data-target='#exampleModal' id="addBtn")
    i.shopping.cart.plus.icon
    |             Add Employee
  div(class="ui icon input")
    input(type='text' placeholder='Search Employee...' id="search")
    i(class="inverted circular search link icon" id="searchBtn")

  // Modal
  #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h2.ui.header
            i.shopping.user.icon
            .content
              | Employee Form
              .sub.header Fill Up the Form
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          form#form1.needs-validation(novalidate='')
            .form-group
              label(for='item')
                i.shopping.bag.icon
                | Name:
              input#employee.form-control(type='text' aria-describedby='emailHelp' placeholder='Enter Item name' required='')
              .invalid-feedback
                | Please enter an Name
            .form-group
              label(for='qty')
                i.tags.icon
                | Address:
              input#address.form-control(type='text' placeholder='Address' required='')
              .invalid-feedback
                | Please enter your Adress
            .form-group
              label(for='priority')
                i.shopping.basket.icon
                | Email:
              input#email.form-control(type='email' placeholder='Email' required='')
              .invalid-feedback
                | Please enter your Email
            .form-group
              label(for='description')
                i.shopping.basket.icon
                | Description:
                .field
                  textarea#description(name="desc", cols="70", rows="10" placeholder='About your self....')
                span#error
            button#saveBtn.positive.ui.button(type='button' value="add") Add
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close

          //Edit Modal
  #editModal.modal2.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h2.ui.header
            i.shopping.user.icon
            .content
              | Employee Form
              .sub.header Fill Up the Form
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          form.needs-validation(novalidate='')
            .form-group
              label(for='item')
                i.shopping.bag.icon
                | Name:
              input#employee2.form-control(type='text' aria-describedby='emailHelp' placeholder='Enter Item name' required='')
              .invalid-feedback
                | Please enter your Name
            .form-group
              label(for='qty')
                i.tags.icon
                | Address:
              input#address2.form-control(type='text' placeholder='Address' required='')
              .invalid-feedback
                | Please enter your Address:
            .form-group
              label(for='priority')
                i.shopping.basket.icon
                | Email:
              input#email2.form-control(type='email' placeholder='Email' required='')
              .invalid-feedback
                | Please enter your Email
            .form-group
              label(for='description')
                i.shopping.basket.icon
                | Description:
                .field
                  textarea#description2(name="desc", cols="70", rows="10" placeholder='About your self....')
            button#updateBtn.positive.ui.button(type='button' value="add") Update
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close
          
  table#mytable.ui.celled.table
    thead
      tr
        th Name
        th Address
        th Email
    tbody#tbody1
                each employee in employees
                    tr
                       td#id(style= 'display:none')= employee.id
                        td#employee= employee.employee
                        td#empoyee= employee.address
                        td#employee= employee.email
                        td
                          center
                              div(class="ui buttons")
                                button(class="ui positive button editBtn" value=`${employee.id}` data-toggle='modal' data-target='#editModal' ) Edit
                                div(class="or")
                                button(class="ui negative button deleteBtn" type="button") Delete
    //- tbody#tbody2(style="display:none")
    //-             each employee in employees
    //-                 tr
    //-                    td#id(style= 'display:none')= employee.id
    //-                     td#employee= employee[0].employee
    //-                     td#empoyee= employees[0].address
    //-                     td#employee= employees[0].email
    //-                     td
    //-                       center
    //-                           div(class="ui buttons")
    //-                             button(class="ui positive button editBtn" value=`${employees[0].id}` data-toggle='modal' data-target='#editModal' ) Edit
    //-                             div(class="or")
    //-                             button(class="ui negative button deleteBtn" type="button") Delete
script(src='/scripts/app.js')

  
