doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  script(src="https://cdn.jsdelivr.net/npm/sweetalert2@8")
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  //- script(src='/scripts/home.js')
  style
    include style.css
  title Document
h2#header.ui.center.aligned.icon.header
  div#headerIcon
    i#headeIcon.shopping.cart.icon
      h1 Shop List
.jumbotron
  // Button trigger modal
  button.teal.ui.button(type='button' data-toggle='modal' data-target='#exampleModal' id="addBtn")
    i.shopping.cart.plus.icon
    |             Add Item
  div(class="ui icon input")
    input(type='text' placeholder='Search By ID...' id="search")
    i(class="inverted circular search link icon" id="searchBtn")

  // Modal
  #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h2.ui.header
            i.shopping.cart.icon
            .content
              | Shopping Form
              .sub.header Fill Up the Form
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          form.needs-validation(novalidate='')
            .form-group
              label(for='item')
                i.shopping.bag.icon
                | Item Name:
              input#item.form-control(type='text' aria-describedby='emailHelp' placeholder='Enter Item name' required='')
              .invalid-feedback
                | Please enter an Item Name
            .form-group
              label(for='qty')
                i.tags.icon
                | Quantity:
              input#qty.form-control(type='number' placeholder='Quantity' required='')
              .invalid-feedback
                | Please enter a Quantity
            .form-group
              label(for='priority')
                i.shopping.basket.icon
                | Priority:
              select#priority.form-control(type='number' placeholder='Priority' required='')
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
              .invalid-feedback
                | Please enter you Priority
              span#error
            button#saveBtn.positive.ui.button(type='button' value="add") Add
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close

          //Edit Modal
  #editModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h2.ui.header
            i.shopping.cart.icon
            .content
              | Shopping Form
              .sub.header Fill Up the Form
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          form.needs-validation(novalidate='')
            .form-group
              label(for='item')
                i.shopping.bag.icon
                | Item Name:
              input#item2.form-control(type='text' aria-describedby='emailHelp' placeholder='Enter Item name' required='')
              .invalid-feedback
                | Please enter an Item Name
            .form-group
              label(for='qty')
                i.tags.icon
                | Quantity:
              input#qty2.form-control(type='number' placeholder='Quantity' required='')
              .invalid-feedback
                | Please enter a Quantity
            .form-group
              label(for='priority')
                i.shopping.basket.icon
                | Priority:
              select#priority2.form-control(type='number' placeholder='Priority' required='')
                  option(value="1") 1
                  option(value="2") 2
                  option(value="3") 3
              .invalid-feedback
                | Please enter you Priority
            button#updateBtn.positive.ui.button(type='button' value="add") Add
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close
          
  table.ui.celled.table
    thead
      tr
        th Item Name
        th Quantity
        th Priority
    tbody
                each item in items
                    tr
                       td#id(style= 'display:none')= item.id
                        td#item= item.item
                        td#qty= item.qty
                        td#priority= item.priority
                        td
                          center
                              div(class="ui buttons")
                                button(class="ui positive button editBtn" value=`${item.id}` data-toggle='modal' data-target='#editModal' ) Edit
                                div(class="or")
                                button(class="ui negative button deleteBtn" type="button") Delete
script(src='/scripts/app.js')

  
